.flipCard {
    position: relative;
}

.front,
.back {
    position: absolute;
    backface-visibility: hidden;
    background-color: inherit;
    height: 100%;
    width: 100%;
    transition: transform 1s ease-out;
    transform-style: preserve-3d;
    padding: inherit;
}

.front {
    transform: rotateY(0deg);
    cursor: pointer;
}

.back {
    transform: rotateY(180deg);
}

.flipped .front {
    transform: rotateY(180deg);
}

.flipped .back {
    transform: rotateY(0deg);
}
