.aurora-ui.page-notification {
    position: fixed;
    top: 0;
    z-index: 10;
    transform: translateY(-100%);
    box-shadow: 2px 1px 2px #eee;
    box-sizing: border-box;
    transition: transform .6s ease-out;

    &.show {
        transform: translateY(0%);
    }
}
